.button {
    display: inline-block;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    background: $primary;
    height: 50px;
    padding: 0 25px;
    cursor: pointer;
    &:hover {
        background: darken($primary, 5%);
    }
    &:active {
        background: darken($primary, 10%);
    }
    &:disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
    }
}