.filter {
    @include flex(row, center);
    &__button {
        margin-right: 40px;
        color: rgba($black, .6);
        line-height: 1.5;
        position: relative;
        &_active {
            padding-right: 20px;
            color: $primary;
            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background: icon('remove.svg') no-repeat 50%;
                bottom: 4px;
                right: 0;
            }
        }
        &:hover {
            color: $primary;
        }
    }
}