.filter {
    @include flex(row, center, flex-start, wrap);
    &__button {
        padding: 3px 0;
        margin-right: 40px;
        color: rgba($black, .6);
        line-height: 1.5;
        position: relative;
        white-space: nowrap;
        &_active {
            padding-right: 20px;
            color: $primary;
            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background: icon('remove.svg') no-repeat 50%;
                bottom: 7.5px;
                right: 0;
            }
        }
        &_disable {
            pointer-events: none;
            opacity: .5;
        }
        &:hover {
            color: $primary;
        }
    }
}