.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 25px;
    transform: translate3d(0, 5px, 0);
    transition: opacity .25s ease, transform .25s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    &__link {
        white-space: nowrap;
        line-height: 1.5;
        text-decoration: none;
        color: $white;
        &:hover {
            color: $primary;
        }
    }
    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}