.corporate-services-section {
    padding: 135px 0;
    padding-bottom: 75px;
    &__header {
        justify-content: center;
    }
    &__col {
        @include flex(column, center);
        margin-bottom: 65px;
        &-name {
            margin: 0;
            line-height: 1.25;
            text-align: center;
            color: rgba($black, .7);
            margin-top: 20px;
        }
    }
}