.home {
    position: relative;
    &__portfolio {
        position: absolute;
        width: 100%;
        left: 0;
        top: -285px;
    }
    &__team {
        padding: 85px 0;
        padding-top: 305px;
    }
}