.portfolio-template {
    &__title {
        margin-bottom: 65px;
    }
    &__filter {
        overflow-x: auto;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    &__list {
        @include flex();
        flex-wrap: wrap;
        margin-bottom: 140px;
        &-item {
            width: 33.333%;
            height: 300px;
            overflow: hidden;
        }
    }
}