.process-section {
    padding: 135px 0;
    padding-bottom: 90px;
    background: image('process@2x.jpg') no-repeat 50% / cover;
    &__grid {
        @include flex();
    }
    &__item {
        width: 33.333%;
        &-header {
            @include flex(row, center);
            padding-right: 15px;
            margin-bottom: 40px;
        }
        &-icon {
            margin-left: auto;
        }
        &-number {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            text-align: center;
            line-height: 26px;
            border: 2px solid $primary;
            border-radius: 50%;
            font-size: 2rem;
            font-weight: 600;
            color: $white;
        }
        &-name {
            margin: 0;
            font-family: $secondary-font, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            color: $white;
            line-height: 1.3;
        }
        &-text {
            margin-top: 20px;
            padding-right: 40px;
            & p {
                margin: 0;
                color: rgba($white, .6);
                margin-bottom: 20px;
                line-height: 1.45;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            & ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            & li {
                color: rgba($white, .6);
                line-height: 1.5;
                margin-bottom: 5px;
                padding-left: 15px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: rgba($white, .6);
                    left: 0;
                    top: 10px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}