.team-section {
    background: image('team@2x.png') no-repeat center top / 100% auto;
    &_no-bg {
        background: none;
    }
    &__header {
        margin-bottom: 110px;
        &_vertical {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__grid {
        @include flex();
        flex-wrap: wrap;
    }
    &__item {
        width: 33.333%;
        margin-bottom: 75px;
    }
    & + .team-section {
        padding-top: 0;
    }
}