.we-section {
    background: image('we@2x.jpg') no-repeat center bottom / cover;
    &_no-bg {
        background: none
    }
    &__item {
        height: 260px;
        width: 100%;
        padding: 45px 50px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        &-title {
            margin: 0;
            font-size: 2rem;
            font-weight: 600;
            font-family: $secondary-font, sans-serif;
            margin-bottom: 15px;
            &_light {
                color: $white;
            }
        }
        &-text {
            & ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                & li {
                    line-height: 1.5;
                    color: rgba($black, .7);
                    margin-bottom: 5px;
                    position: relative;
                    padding-left: 15px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: rgba($black, .7);
                        left: 0;
                        top: 10px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            & p {
                margin: 0;
                line-height: 1.5;
                color: rgba($black, .7);
            }
            &_light {
                & p {
                    color: rgba($white, .7);
                }
                & ul, ol {
                    & li {
                        color: rgba($white, .7);
                    }
                }
            }
        }
    }
    &__col {
        &:nth-child(1) {
            & .we-section {
                &__item {
                    &-text {
                        max-width: 205px;
                    }
                }
            }
        }
        &:nth-child(2) {
            & .we-section {
                &__item {
                    &-text {
                        max-width: 500px;
                    }
                }
            }
        }
        &:nth-child(3) {
            & .we-section {
                &__item {
                    &-text {
                        max-width: 425px;
                    }
                }
            }
        }
    }
}