// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Open Sans';
$secondary-font: 'IBM Plex Sans';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;
$primary: #09B9B9;
$secondary: #023250;
$light: #F7FBFF;
$light-300: #E7FEFE;

// Font weight
$font-weight: ();
